.book-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .book-carousel li {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
  }
  
  .book-carousel li img {
    width: 100%;
    height: 100%;
  }
  
  .book-carousel li h2 {
    font-size: 20px;
    color: black;
  }
  
  .book-carousel li p {
    font-size: 16px;
    color: gray;
  }
  
  .container {
    width: 500px;
    padding: 20px;
    margin-top: 10px; /* Ajuste o valor da margem superior conforme necessário */
  }
  